<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>RAG Исследователь (Каркас)</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
</head>
<body>

    <div class="container">
        <form method="post" class="search-form">
            <label for="topic">Введите тему:</label><br>
            <textarea id="topic" name="topic" rows="3" required class="search-input">{{ topic_input | default('') }}</textarea><br>
            <div>
                <button type="submit" class="search-button" name="start-button" value="submit">Начать (Имитация)</button>
            </div>
        </form>
    </div>

    {% if prompt %}
        {% if editmode %}
            <div class="result">
                <h3>Сгенерированный промт:</h3>
                <form method="post">
                    <textarea id="prompt" rows="10" class="prompt-editor" name="new-prompt">{{ new_prompt | default(prompt) }}</textarea>
                    <input type="hidden" name="result" value="{{ result }}">
                    <input type="hidden" name="prompt" value="{{ prompt }}">
                    <input type="hidden" name="topic" value="{{ topic_input }}">
                    <div>
                        <button type="submit" class="search-button" name="exit-button">Редактировать</button>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="result">
                <h3>Сгенерированный промт:</h3>
                <p>{{ prompt }}</p>
                <form method="post">
                    <input type="hidden" name="result" value="{{ result }}">
                    <input type="hidden" name="prompt" value="{{ prompt }}">
                    <input type="hidden" name="topic" value="{{ topic_input }}">
                    <div>
                        <button type="submit" class="search-button" name="edit-button">Редактировать</button>
                        <button type="submit" class="search-button" name="next-button">Далее</button>
                    </div>
                </form>
            </div>
        {% endif %}
    {% endif %}

    {% if result %}
        <div class="result">
            <h3>Результат по теме: "{{ topic_input }}"</h3>
            {{ result | safe }}
        </div>
    {% endif %}

    {% if error %}
         <div class="result">
            <h3>Ошибка</h3>
            <p>{{ error }}</p>
        </div>
    {% endif %}

</body>
</html>

